In [14]:
!pip install nbformat

Collecting nbformat
  Downloading nbformat-5.9.2-py3-none-any.whl.metadata (3.4 kB)
Collecting fastjsonschema (from nbformat)
  Downloading fastjsonschema-2.19.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: jsonschema>=2.6 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from nbformat) (4.17.3)
Requirement already satisfied: jupyter-core in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from nbformat) (5.3.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from nbformat) (5.9.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from jsonschema>=2.6->nbformat) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from jsonschema>=2.6->nbformat) (0.19.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from jupyter-core->nbformat) (3.5.0)
Requirement already satisfied: pywin32>=300 in c:\users\maxim.oweyssi\anaconda3\envs\portable\lib\site-packages (from jupyter-core->nbformat) (304)
Downloading nbformat-5.9.2-py3-none-any.whl (77 kB)
   ---------------------------------------- 0.0/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   --------------- ------------------------ 30.7/77.6 kB ? eta -:--:--
   ---------------------------------------- 77.6/77.6 kB 172.2 kB/s eta 0:00:00
Downloading fastjsonschema-2.19.1-py3-none-any.whl (23 kB)
Installing collected packages: fastjsonschema, nbformat
Successfully installed fastjsonschema-2.19.1 nbformat-5.9.2

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [11]:
import pandas as pd
import plotly.express as px

In [5]:
assets              = pd.read_csv("data/assets.csv")
company_activities  = pd.read_csv("data/company_activities.csv")
company_emissions   = pd.read_csv("data/company_emissions.csv")
portfolio           = pd.read_csv("data/portfolio.csv")
stress_test_output  = pd.read_csv("data/stress_test_output.csv")

In [16]:
df = assets

# Select the variable to plot
variable = 'plan_tech_prod'  # Change to 'plan_emission_factor' if needed

# Calculate mean and standard deviation for error bars
mean_data = df.groupby(['year', 'ald_business_unit'])[variable].mean().reset_index()
std_data = df.groupby(['year', 'ald_business_unit'])[variable].std().reset_index()

# Merge mean and std data
merged_data = pd.merge(mean_data, std_data, on=['year', 'ald_business_unit'], suffixes=('_mean', '_std'))

# Create Plotly figure
fig = px.scatter(merged_data, x='year', y=f'{variable}_mean', color='ald_business_unit',
                 error_y='plan_tech_prod_std', title=f'Mean Line and Error Bars for {variable}',
                 labels={'year': 'Year', f'{variable}_mean': variable, 'ald_business_unit': 'Business Unit'})

# Show the plot
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [7]:
print(assets.head())
print(assets.describe())
print(assets.info())
print(company_activities.head())
print(company_activities.describe())
print(company_activities.info())
print(company_emissions.head())
print(company_emissions.describe())
print(company_emissions.info())
print(portfolio.head())
print(portfolio.describe())
print(portfolio.info())
print(stress_test_output.head())
print(stress_test_output.describe())
print(stress_test_output.info())

   year  company_id company_name ald_sector ald_business_unit  \
0  2023          10   company-10       Coal              Coal
1  2023          12   company-12       Coal              Coal
2  2023          16   company-16       Coal              Coal
3  2023          20   company-20       Coal              Coal
4  2023          26   company-26       Coal              Coal

  ald_production_unit emissions_factor_unit scenario_geography  \
0              t coal          tCO2e/t coal             Global
1              t coal          tCO2e/t coal             Global
2              t coal          tCO2e/t coal             Global
3              t coal          tCO2e/t coal             Global
4              t coal          tCO2e/t coal             Global

   plan_tech_prod  plan_emission_factor
0    0.000000e+00              0.000000
1    1.092332e+10              0.000020
2    4.067618e+10              0.000008
3    6.148972e+10              0.000008
4    6.387210e+10              0.000003
              year  company_id  plan_tech_prod  plan_emission_factor
count   972.000000  972.000000    9.720000e+02            972.000000
mean   2025.500000   51.061728    3.094871e+10                   inf
std       1.708704   29.612469    2.353931e+10                   NaN
min    2023.000000    1.000000    0.000000e+00              0.000000
25%    2024.000000   24.000000    1.209782e+10              0.000007
50%    2025.500000   52.500000    2.649198e+10              0.000013
75%    2027.000000   77.000000    4.351686e+10              0.000025
max    2028.000000  100.000000    1.488222e+11                   inf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   972 non-null    int64
 1   company_id             972 non-null    int64
 2   company_name           972 non-null    object
 3   ald_sector             972 non-null    object
 4   ald_business_unit      972 non-null    object
 5   ald_production_unit    972 non-null    object
 6   emissions_factor_unit  972 non-null    object
 7   scenario_geography     972 non-null    object
 8   plan_tech_prod         972 non-null    float64
 9   plan_emission_factor   972 non-null    float64
dtypes: float64(2), int64(2), object(6)
memory usage: 76.1+ KB
None
   company_id company_name ald_sector ald_business_unit activity_unit  \
0           4    company-4      Power            GasCap           MWh
1           4    company-4      Power            GasCap           MWh
2           9    company-9      Power        NuclearCap            MW
3           9    company-9      Power        NuclearCap            MW
4           9    company-9      Power        NuclearCap            MW

  ald_location  Equity Ownership 2022  Equity Ownership 2023  \
0           R2           2.371656e+09           1.988977e+10
1           CI           5.682413e+09           1.144449e+10
2           R2                    NaN                    NaN
3           TL           6.286621e+09           5.873761e+09
4           LY           4.938922e+08           1.254031e+10

   Equity Ownership 2024  Equity Ownership 2025  Equity Ownership 2026
0           3.285247e+09           5.416282e+09                    NaN
1           3.055068e+09                    NaN           3.543393e+09
2                    NaN           3.724120e+09                    NaN
3                    NaN           1.363108e+10           1.331055e+10
4                    NaN           3.173657e+10           1.905518e+10
        company_id  Equity Ownership 2022  Equity Ownership 2023  \
count  1063.000000           6.700000e+02           6.740000e+02
mean     52.220132           9.825712e+09           9.580010e+09
std      29.563785           9.685949e+09           9.592254e+09
min       1.000000           2.862430e+05           4.113748e+07
25%      26.000000           3.012274e+09           2.690237e+09
50%      53.000000           6.831669e+09           6.413655e+09
75%      79.000000           1.358031e+10           1.345720e+10
max     100.000000           6.555661e+10           6.660560e+10

       Equity Ownership 2024  Equity Ownership 2025  Equity Ownership 2026
count           6.480000e+02           6.770000e+02           6.680000e+02
mean            1.037318e+10           1.016161e+10           1.001000e+10
std             1.057793e+10           1.007198e+10           1.007467e+10
min             1.487088e+07           3.005055e+06           1.809703e+07
25%             3.150887e+09           2.923511e+09           2.880536e+09
50%             7.161797e+09           7.265916e+09           6.790937e+09
75%             1.405673e+10           1.424500e+10           1.337050e+10
max             1.165310e+11           9.063568e+10           6.147560e+10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1063 entries, 0 to 1062
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company_id             1063 non-null   int64
 1   company_name           1063 non-null   object
 2   ald_sector             1063 non-null   object
 3   ald_business_unit      1063 non-null   object
 4   activity_unit          1063 non-null   object
 5   ald_location           1063 non-null   object
 6   Equity Ownership 2022  670 non-null    float64
 7   Equity Ownership 2023  674 non-null    float64
 8   Equity Ownership 2024  648 non-null    float64
 9   Equity Ownership 2025  677 non-null    float64
 10  Equity Ownership 2026  668 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 91.5+ KB
None
   company_id company_name ald_sector ald_business_unit ald_location  \
0           4    company-4      Power            GasCap           R2
1           4    company-4      Power            GasCap           CI
2           9    company-9      Power        NuclearCap           R2
3           9    company-9      Power        NuclearCap           TL
4           9    company-9      Power        NuclearCap           LY

  activity_unit  Equity Ownership 2022  Equity Ownership 2023  \
0         tCO2e                79099.0                    NaN
1         tCO2e                81717.0                63772.0
2         tCO2e                12547.0               188013.0
3         tCO2e                41648.0                11133.0
4         tCO2e               213788.0                    NaN

   Equity Ownership 2024  Equity Ownership 2025  Equity Ownership 2026
0                66749.0                 2713.0                54053.0
1               155163.0                75382.0                67462.0
2               179958.0                90976.0                48663.0
3                27278.0                74838.0               196193.0
4                 1470.0                86001.0                    NaN
        company_id  Equity Ownership 2022  Equity Ownership 2023  \
count  1063.000000             754.000000             746.000000
mean     52.220132          105509.033156          102411.426273
std      29.563785          102308.925691          100089.714125
min       1.000000             111.000000             127.000000
25%      26.000000           30729.750000           32061.250000
50%      53.000000           73695.000000           73176.500000
75%      79.000000          145028.750000          142364.500000
max     100.000000          762513.000000          816786.000000

       Equity Ownership 2024  Equity Ownership 2025  Equity Ownership 2026
count             762.000000             766.000000             762.000000
mean            98433.795276           92216.023499          101662.233596
std            104564.189877           96402.249171          102989.692523
min               106.000000             100.000000               6.000000
25%             28326.000000           26248.000000           32035.750000
50%             69314.000000           60574.000000           72644.500000
75%            134327.000000          126187.250000          134106.000000
max            951233.000000          651736.000000          836604.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1063 entries, 0 to 1062
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company_id             1063 non-null   int64
 1   company_name           1063 non-null   object
 2   ald_sector             1063 non-null   object
 3   ald_business_unit      1063 non-null   object
 4   ald_location           1063 non-null   object
 5   activity_unit          1063 non-null   object
 6   Equity Ownership 2022  754 non-null    float64
 7   Equity Ownership 2023  746 non-null    float64
 8   Equity Ownership 2024  762 non-null    float64
 9   Equity Ownership 2025  766 non-null    float64
 10  Equity Ownership 2026  762 non-null    float64
dtypes: float64(5), int64(1), object(5)
memory usage: 91.5+ KB
None
   company_id company_name ald_sector ald_business_unit  exposure_usd  \
0          79   company-79      Power     RenewablesCap          1460
1          92   company-92      Power        NuclearCap          8331
2          83   company-83      Power        NuclearCap           256
3          47   company-47      Power            OilCap          9566
4          56   company-56      Power            OilCap          6753

   loss_given_default
0               0.150
1               0.917
2               0.278
3               0.068
4               0.441
       company_id  exposure_usd  loss_given_default
count   30.000000     30.000000           30.000000
mean    47.333333   4852.733333            0.470433
std     29.875989   2757.279393            0.288043
min      1.000000    157.000000            0.046000
25%     21.250000   2081.000000            0.278750
50%     42.500000   5411.500000            0.464000
75%     73.000000   6935.250000            0.688500
max     95.000000   9566.000000            0.939000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company_id          30 non-null     int64
 1   company_name        30 non-null     object
 2   ald_sector          30 non-null     object
 3   ald_business_unit   30 non-null     object
 4   exposure_usd        30 non-null     int64
 5   loss_given_default  30 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.5+ KB
None
   company_id company_name ald_sector ald_business_unit scenario_geography  \
0           1    company-1      Power        NuclearCap             Global
1           1    company-1      Power            OilCap             Global
2           1    company-1      Power     RenewablesCap             Global
3           2    company-2      Power          HydroCap             Global
4           2    company-2      Power        NuclearCap             Global

    baseline_scenario         shock_scenario  shock_year  \
0  NGFS2023REMIND_NDC  NGFS2023REMIND_NZ2050        2033
1  NGFS2023REMIND_NDC  NGFS2023REMIND_NZ2050        2033
2  NGFS2023REMIND_NDC  NGFS2023REMIND_NZ2050        2033
3  NGFS2023REMIND_NDC  NGFS2023REMIND_NZ2050        2033
4  NGFS2023REMIND_NDC  NGFS2023REMIND_NZ2050        2033

   net_present_value_baseline  net_present_value_shock  \
0                2.333015e+17             2.354331e+17
1                2.640392e+16             1.040196e+15
2                1.730465e+17             2.357385e+17
3                8.966471e+16             9.078960e+16
4                7.455331e+17             7.503476e+17

   net_present_value_difference  term  pd_baseline  pd_shock  pd_difference  \
0                  2.131687e+15     5     0.300125  0.281915      -0.018210
1                 -2.536372e+16     5     0.300125  0.281915      -0.018210
2                  6.269202e+16     5     0.300125  0.281915      -0.018210
3                  1.124893e+15     5     0.325785  0.324316      -0.001469
4                  4.814530e+15     5     0.325785  0.324316      -0.001469

                                 run_id
0  27187540-f356-48b9-bf48-5b2347576a5d
1  27187540-f356-48b9-bf48-5b2347576a5d
2  27187540-f356-48b9-bf48-5b2347576a5d
3  27187540-f356-48b9-bf48-5b2347576a5d
4  27187540-f356-48b9-bf48-5b2347576a5d
       company_id  shock_year  net_present_value_baseline  \
count  200.000000       200.0                2.000000e+02
mean    49.915000      2033.0                1.523410e+17
std     29.484308         0.0                2.249056e+17
min      1.000000      2033.0                0.000000e+00
25%     23.500000      2033.0                4.322062e+14
50%     51.000000      2033.0                5.879855e+16
75%     75.000000      2033.0                1.968731e+17
max    100.000000      2033.0                1.348726e+18

       net_present_value_shock  net_present_value_difference   term  \
count             2.000000e+02                  2.000000e+02  200.0
mean              1.451194e+17                 -7.221588e+15    5.0
std               2.597750e+17                  8.670633e+16    0.0
min               0.000000e+00                 -3.835898e+17    5.0
25%               2.193025e+14                 -9.495731e+15    5.0
50%               7.063958e+15                 -1.275691e+11    5.0
75%               1.597074e+17                  1.136057e+15    5.0
max               1.355005e+18                  4.402886e+17    5.0

       pd_baseline      pd_shock  pd_difference
count   200.000000  2.000000e+02     200.000000
mean      0.298384  4.182215e-01       0.119837
std       0.107642  1.919485e-01       0.169323
min       0.001194  3.799121e-10      -0.156603
25%       0.278206  2.866812e-01      -0.008156
50%       0.306989  3.905074e-01       0.018210
75%       0.322983  6.188025e-01       0.317156
max       0.587713  7.646038e-01       0.520110
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   company_id                    200 non-null    int64
 1   company_name                  200 non-null    object
 2   ald_sector                    200 non-null    object
 3   ald_business_unit             200 non-null    object
 4   scenario_geography            200 non-null    object
 5   baseline_scenario             200 non-null    object
 6   shock_scenario                200 non-null    object
 7   shock_year                    200 non-null    int64
 8   net_present_value_baseline    200 non-null    float64
 9   net_present_value_shock       200 non-null    float64
 10  net_present_value_difference  200 non-null    float64
 11  term                          200 non-null    int64
 12  pd_baseline                   200 non-null    float64
 13  pd_shock                      200 non-null    float64
 14  pd_difference                 200 non-null    float64
 15  run_id                        200 non-null    object
dtypes: float64(6), int64(3), object(7)
memory usage: 25.1+ KB
None